// ---------------------------------------------------------------------------------------------------------
// Import Configuration Variables
// ---------------------------------------------------------------------------------------------------------

	@import (once, reference) "./config/variables.less";

	@import (once, optional, reference) "./config/custom.less";
	
	@import (once, reference) "./config/mixins.less";

// ---------------------------------------------------------------------------------------------------------
// Iterate Breakpoints
// ---------------------------------------------------------------------------------------------------------

	.iterate-breakpoints (@breakpoints)
	{
	    .iterate ();

	    .iterate (@i: length(@breakpoints)) when (@i > 0)
	    {
	        .iterate (@i - 1);

	        @breakpoint: extract(@breakpoints, @i);

			@breakpoint-name: extract(@breakpoint, 1);

			@breakpoint-min: extract(@breakpoint, 2);

			@breakpoint-max: extract(@breakpoint, 3);

			& when (@breakpoint-min = 0)
			{
				@breakpoint-attr: @data-attr;

				@bpo: ~''; @bpc: ~'';

	        	@import (multiple) "./core/includes.less";
			}

			& when (@breakpoint-min > 0)
			{
				@media (min-width: @breakpoint-min)
		        {
		        	@breakpoint-attr: ~'@{data-attr}-@{breakpoint-name}';

		        	@bpo: ~'@{breakpoint-name}('; @bpc: ~')';

		        	@import (multiple) "./core/includes.less";
		        }
			}
	    }
	}

	.iterate-breakpoints (@breakpoints);