& when (@droplet--import){

// ---------------------------------------------------------------------------------------------------------
// Droplet Styles
// ---------------------------------------------------------------------------------------------------------

	& when (@compile-once){

        [data-inflex~='droplet'], [data-inflex~='droplet:toggled']{

            position: relative;
        }

        [data-inflex~='droplet'] > [data-inflex*='droplet:src']{

            visibility: hidden;
            opacity: 0;
            margin-top: -1em;
            transition: all @droplet--transition-duration 0s, visibility 0s @droplet--transition-duration;
        }

        [data-inflex~='droplet:toggled'] > [data-inflex*='droplet:src']{

            z-index: 1;
            visibility: visible;
            opacity: 1;
            margin-top: 0;
        }

        [data-inflex*='droplet:src']{

            position: absolute;
            overflow: hidden;
            top: ~'calc(100% + 0.5em)';
            width: @droplet--width;
            border-radius: @droplet--border-radius;
            box-shadow: @droplet--box-shadow;
            background: @droplet--background-color;
            padding: @droplet--padding;
            transition: all @droplet--transition-duration 0s, visibility 0s 0s;

            &[data-inflex~='droplet:src:right']{ left: auto; right: 0; }

            &[data-inflex~='droplet:src:left']{ left: 0; right: auto; }

            &[data-inflex~='droplet:src:center']{ right: 50%; transform: translateX(50%); }
        }
	}

}